<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FileSaverApp</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.filesaver</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>نحتاج الوصول لمكتبة الصور لحفظ الصور والفيديوهات.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>التطبيق يحتاج لحفظ الصور والفيديوهات على مكتبة الصور</string>
</dict>
</plist>
